.fav{
    display:grid;
      grid-template-columns: repeat(3, 1fr);
       margin-top: 90px;
       background-color: lightgray;
      
    }
    @media (max-width:500px) {
        .fav{ 
            flex-direction: column;
            width: 100%;
            background-color: lightgreen;
        }
    }