.search-box{
    display: flex;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    border:2px solid black;
    background-color:lightgreen;
    margin:5rem 0 1rem 0 ;
   
    
  }
 .search-box h2{
  
    margin-left: 90px;
    color: red;
    text-align: center;
 }
  
  .search-location{
    flex:1;
    padding: 0rem 1rem;
    border-radius: 0px;
    margin-top: 50px;
    margin-right:10px;
    
  
  }
  
  .search-location-button{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .search-name{
    font-size: 1.2rem;
  }
  
  .search-input{
    
    border-radius:30px;
    padding: .5rem 1rem;
    width:100%;
   
  }
  
  .search-select{
    border: none;
    padding: .5rem 1rem;
  
    width: 100%;
  }
  
  
  .search-btn {
    background: #8D72E1;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 60px;
  }
  
  .search-btn:hover {
    background: #3cb0fd;
    text-decoration: none;
  }

  @media (max-width:500px){
    .search-box{
        flex-direction: column;
       
    }
    .search-box h2{
      margin-left: 4px;
      
    }
    .search-btn{
      margin-top: 20px;
    }

  }