@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;1,300;1,400&family=Open+Sans:ital,wght@1,600&family=Playfair+Display:ital@1&family=Redressed&family=Roboto+Serif:ital,opsz,wght@0,8..144,800;1,8..144,100;1,8..144,300&family=Roboto:ital,wght@1,100;1,300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 2px solid black;
    background-color: lightseagreen;
}

.logo {
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;

}



li a {
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 500;
    color: white;

}

.nav-menu {
    display: flex;
}

.nav-menu li {
    padding: 0 2rem;
    list-style: none;

}

.nav-menu li a {
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-menu li a:hover {
    color: orangered;
}

.hambagger {
    display: none;
}

.btn1 {
    width: 100%;
    padding: 5px 10px;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: gray;
    border-radius: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.btn1:hover {
    color: lightcyan;
}


@media screen and (max-width:500px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: black;
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
    }

    .nav-menu li {
        margin-top: 50px;
        padding: 1rem 0;
        height: 100%
    }

    .nav-menu li a {
        font-size: 1.2rem;
        color: white;
    }

    .hambagger {
        display: initial;
    }

    .nav-menu.active {
        left: 0;

    }

    .btn1 {
        display: none;
    }

}